# Rename this to `terraform.auto.tfvars` and edit.
# Set all of variables.

# 'project_name' and 'hashi_tags["owner"]' are combined to set Consul 'cluster name'
# cloud auto-join uses 'cluster name'

# Unique Project Name
project_name = "rpeteuil-consul-demo"

hashi_tags = {
  "project" = "RPeteuil Consul Demo"
  "owner"   = "rpeteuil@hashicorp.com"
  "TTL"     = "48"
}

# AWS Keypair in Region - specifies key used when sshing to instance
#   https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html
ssh_key_name = "rpeteuil"

# Private SSH key that is referenced by ssh_key_name variable
#   if not defined, post provisioner cannot join counsul datacenters, requiring
#    running `consul join -wan {ips-consul-svrs-other-dc}` on consul server in each dc
ssh_pri_key_file = "~/.ssh/id_rsa"

# zone ID for TLD (ex: zone id for hashidemos.io)
route53_zone_id = "ZZZZZZZZZZZZZZ"

# TLD to register nodes and lb in
top_level_domain = "test.example.com"

### OPTIONAL 

# Consul Enterprise License Key
# consul_lic = "consul-enterprise-license-string-here"

# Main Consul Cluster region and DC Name
# aws_region = "us-west-2"
# consul_dc  = "dc1"

# Alternate Consul Cluster region and unique DC Name
# aws_region_alt = "us-east-1"
# consul_dc_alt  = "dc2"