# Rename this to `terraform.auto.tfvars` and edit.
# Set all of variables.


# Ensure project name variable is unique
#   Used during cloud auto-join
project_name = "myname-consul-demo"

hashi_tags = {
  "Project"   = "MyExample Consul Demo"
  "Owner"     = "user@example.com"
  "TTL"       = "4"
  "Region"    = "NA-US"
  "Purpose"   = "Consul Demo"
  "Terraform" = "true"
  "TFE"       = "false"
}

# Route53 (sub)zone where host records will be created
route53_subzone = "demo.example.com"

# AWS Keypair in Region - specifies key used when sshing to instance
#   https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html
ssh_key_name = "myuser"


### OPTIONAL CUSTOM AMI 

# Custom AMI prefix name - set if custom AMI's created
# ami_prefix = "consul-intro"

# If AMIs use Consul Ent, specify ent license
# consul_lic = "LICENSE-TEXT"


### OPTIONAL 

# Main Consul Cluster region and DC Name
# aws_region = "us-west-2"
# consul_dc = "dc1"

# Alternate Consul Cluster region and unique DC Name
# aws_region_alt = "us-east-1"
# consul_dc_alt = "dc2"

# Account of AMI (defaults to self)
# ami_owner = "self"
