# Rename this to `terraform.auto.tfvars` and edit.
# Set all of variables.

# 'project_name' and 'hashi_tags["owner"]' are combined to set Consul 'cluster name'
# cloud auto-join uses 'cluster name'

# Unique Project Name
project_name = "rpeteuil-consul-demo"

hashi_tags = {
  "project" = "RPeteuil Consul Demo"
  "owner"   = "rpeteuil@hashicorp.com"
  "TTL"     = "12"
}

# zone ID for TLD (ex: zone id for hashidemos.io)
route53_zone_id = "ZZZZZZZZZZZZZZ"

# TLD to register nodes and lb in
top_level_domain = "test.example.com"

# AWS Keypair in Region - specifies key used when sshing to instance
#   https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html
ssh_key_name = "rpeteuil"

# Either "ssh_pri_key_data" or "ssh_pri_key_file" must be specified
#   These refer to the Private SSH key specified in ssh_key_name variable
#   They are used by a post provisioner to join counsul datacenters

# ssh_pri_key_data - contains contents of private key as data (required for TFC/TFE)
#   remove newlines before populating: awk '{printf "%s\\n", $0}' ~/.ssh/id_rsa
# ssh_pri_key_data = ""

# ssh_pri_key_file - file URL to private key file (does not work with TFC/TFE)
ssh_pri_key_file = "~/.ssh/id_rsa"

### OPTIONAL 

# Consul Enterprise License Key
# consul_lic = "consul-enterprise-license-string-here"

# Main Consul Cluster region and DC Name
# aws_region = "us-west-2"
# consul_dc  = "dc1"

# Alternate Consul Cluster region and unique DC Name
# aws_region_alt = "us-east-1"
# consul_dc_alt  = "dc2"

# Account of AMI (defaults to self)
# ami_owner = "self"

# AMI prefix name - set if custom AMI's created
# ami_prefix = "consul-demo"
