# Rename this to `terraform.auto.tfvars` and edit.
# Set all of variables.

# Ensure project name variable is unique
#   Used during cloud auto-join
project_name = "consul-demo"

hashi_tags = {
  "Project"   = "MyExample Consul Demo"
  "Owner"     = "user@example.com"
  "TTL"       = "4"
  "Region"    = "NA-US"
  "Purpose"   = "Consul Demo"
  "Terraform" = "true"
  "TFE"       = "false"
}

# Route53 (sub)zone where host records will be created
route53_subzone = "demo.example.com"

# AWS Keypair in Region - specifies key used when sshing to instance
#   https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html
ssh_key_name = "myuser"


# Consul Enterprise License Key for Consul 1.8 (v2 license format)
# consul_lic = "consul-enterprise-license-string-here"

# If Consul License not provided
#   Consul service will shutdown (on all hosts) in 30m
#   Terraform will be unable to destroy the environment
#   To repair demo environment if shutdown from non-license
#     Reboot the hosts, or ssh and restart consul service on each

## PRIVATE SSH KEY

# Either "ssh_pri_key_data" or "ssh_pri_key_file" must be specified
#   These refer to the Private SSH key specified in ssh_key_name variable
#   They are used by a post provisioner to join counsul datacenters

# ssh_pri_key_file - file URL to private key file
ssh_pri_key_file = "~/.ssh/id_rsa"

# ssh_pri_key_data - contains contents of private key as data (required for TFC/TFE)
#   remove newlines before populating: awk '{printf "%s\\n", $0}' ~/.ssh/id_rsa
# ssh_pri_key_data = ""


### OPTIONAL 

# Main Consul Cluster region and DC Name
# aws_region = "us-west-2"
# consul_dc  = "dc1"

# Alternate Consul Cluster region and unique DC Name
# aws_region_alt = "us-east-1"
# consul_dc_alt  = "dc2"

# Account of AMI (defaults to self)
# ami_owner = "self"

# AMI prefix name - set if custom AMI's created
# ami_prefix = "consul-demo-ent"
